In [1]:
import program
import pulp as pl

In [2]:
problem = program.test()
problem.solve()

In [3]:
problem.recipe

                               amount
name
Broccoli (Cooked)            0.518573
Cooked Celery               13.191981
Cooked Tomatoes             21.014955
Cucumber                     6.096698
Dry Roasted Pistachio Nuts   2.421314
White Button Mushrooms       4.076494

In [4]:
problem.nutrient_table

,min,max,intake
name,,,
calcium_mg,1000.0,2500.0,"{Almonds: 269.0, Almonds_Unsalted: 260.0, Appl..."
calories_kcal,1800.0,2200.0,"{Almonds: 579.0, Almonds_Unsalted: 607.0, Appl..."
choline_mg,550.0,3500.0,"{Almonds: 52.1, Almonds_Unsalted: 50.5, Apples..."
copper_mg,0.9,10.0,"{Almonds: 1.031, Almonds_Unsalted: 1.065999999..."
fiber_g,38.0,NaN,"{Almonds: 12.5, Almonds_Unsalted: 10.6, Apples..."
fluoride_mcg,4.0,10.0,"{Apples: 3.3, Bananas: 2.2, Broccoli_(Cooked):..."
folate_mcg,400.0,1000.0,"{Almonds: 44.0, Almonds_Unsalted: 53.0, Apples..."
histidine_mg_kg,14.0,NaN,"{Almonds: 539.0, Apples: 5.0, Baked_Potato_(No..."
iron_mg,8.0,45.0,"{Almonds: 3.71, Almonds_Unsalted: 3.62, Apples..."
isoleucine_mg_kg,19.0,NaN,"{Almonds: 751.0, Apples: 6.0, Baked_Potato_(No..."
leucine_mg_kg,42.0,NaN,"{Almonds: 1473.0, Apples: 13.0, Baked_Potato_(..."
lysine_mg_kg,38.0,NaN,"{Almonds: 568.0, Apples: 12.0, Baked_Potato_(N..."
magnesium_mg,400.0,NaN,"{Almonds: 270.0, Almonds_Unsalted: 271.0, Appl..."
manganese_mg,2.3,11.0,"{Almonds: 2.1790000000000003, Apples: 0.035, B..."
methionine_and_cysteine_mg_kg,19.0,NaN,"{Almonds: 372.0, Apples: 2.0, Baked_Potato_(No..."
niacin_mg,16.0,35.0,"{Almonds: 3.618, Almonds_Unsalted: 3.528, Appl..."
pantothenic_acid_mg,5.0,NaN,"{Almonds: 0.471, Apples: 0.061, Baked_Potato_(..."
phenylalanine_and_tyrosine_mg_kg,33.0,NaN,"{Almonds: 1582.0, Apples: 7.0, Baked_Potato_(N..."
phosphorus_mg,700.0,4000.0,"{Almonds: 481.0, Almonds_Unsalted: 457.0, Appl..."
potassium_mg,3400.0,NaN,"{Almonds: 733.0, Almonds_Unsalted: 692.0, Appl..."
protein_g_kg,0.8,NaN,"{Almonds: 21.15, Almonds_Unsalted: 20.33, Appl..."
riboflavin_mg,1.3,NaN,"{Almonds: 1.138, Almonds_Unsalted: 1.161, Appl..."
selenium_mcg,55.0,400.0,"{Almonds: 4.1, Almonds_Unsalted: 1.9, Baked_Po..."
sodium_mg,1500.0,NaN,"{Almonds: 1.0, Almonds_Unsalted: 3.0, Apples: ..."
thiamin_mg,1.2,NaN,"{Almonds: 0.205, Almonds_Unsalted: 0.075, Appl..."
threonine_mg_kg,20.0,NaN,"{Almonds: 601.0, Apples: 6.0, Baked_Potato_(No..."
tryptophan_mg_kg,5.0,NaN,"{Almonds: 211.0, Apples: 1.0, Baked_Potato_(No..."
valine_mg_kg,24.0,NaN,"{Almonds: 855.0, Apples: 12.0, Baked_Potato_(N..."
vitamin_a_mcg,900.0,3000.0,"{Apples: 3.0, Bananas: 3.0, Broccoli: 31.0, Br..."
vitamin_b6_mg,1.3,100.0,"{Almonds: 0.1369999999999999, Almonds_Unsalted..."
vitamin_c_mg,90.0,2000.0,"{Apples: 4.6, Baked_Potato_(No_Skin): 12.8, Ba..."
vitamin_e_mg,15.0,1000.0,"{Almonds: 25.63, Almonds_Unsalted: 23.54, Appl..."
vitamin_k_mcg,120.0,NaN,"{Almonds_Unsalted: 3.5, Apples: 2.2, Baked_Pot..."
zinc_mg,11.0,40.0,"{Almonds: 3.12, Almonds_Unsalted: 3.21, Apples..."

In [5]:
problem.food_table.df

,food_group,calories_kcal,fat_g,protein_g_kg,carbohydrate_g,sugars_g,fiber_g,cholesterol_mg,saturated_fats_g,calcium_mg,...,alcohol_g,caffeine_mg,theobromine_mg,200_calorie_weight_g,phenylalanine_and_tyrosine_mg_kg,methionine_and_cysteine_mg_kg,max,cost,amount_var,amount
name,,,,,,,,,,,,,,,,,,,,,
Almonds,Nuts and Seeds,579,49.93,21.15,21.55,4.35,12.5,0.0,3.802,269.0,...,0.0,0.0,0.0,34.542,1582.0,372.0,10000,1,Almonds,0.000000
Almonds Unsalted,Nuts and Seeds,607,53.96,20.33,20.38,4.71,10.6,0.0,4.380,260.0,...,0.0,0.0,0.0,32.949,0.0,0.0,10000,1,Almonds_Unsalted,0.000000
Apples,Fruits,52,0.17,0.26,13.81,10.39,2.4,0.0,0.028,6.0,...,0.0,0.0,0.0,384.615,7.0,2.0,10000,1,Apples,0.000000
Baked Potato (No Skin),Vegetables,93,0.10,1.96,21.55,1.70,1.5,0.0,0.026,5.0,...,0.0,0.0,0.0,215.054,160.0,56.0,10000,1,Baked_Potato_(No_Skin),0.000000
Bananas,Fruits,89,0.33,1.09,22.84,12.23,2.6,0.0,0.112,5.0,...,0.0,0.0,0.0,224.719,58.0,17.0,10000,1,Bananas,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Walnuts,Nuts and Seeds,654,65.21,15.23,13.71,2.61,6.7,0.0,6.126,98.0,...,0.0,0.0,0.0,30.581,1117.0,444.0,10000,1,Walnuts,0.000000
Watermelon,Fruits,30,0.15,0.61,7.55,6.20,0.4,0.0,0.016,7.0,...,0.0,0.0,0.0,666.667,27.0,8.0,10000,1,Watermelon,0.000000
White Button Mushrooms,Vegetables,22,0.34,3.09,3.26,1.98,1.0,0.0,0.050,3.0,...,0.0,0.0,0.0,909.091,129.0,43.0,10000,1,White_Button_Mushrooms,4.076494
White Rice,Grains and Pasta,130,0.28,2.69,28.17,0.05,0.4,0.0,0.077,10.0,...,0.0,0.0,0.0,153.846,234.0,118.0,10000,1,White_Rice,0.000000
Zucchini,Vegetables,17,0.32,1.21,3.11,2.50,1.0,0.0,0.084,16.0,...,0.0,0.0,0.0,1176.471,75.0,30.0,10000,1,Zucchini,0.000000

In [6]:
list(problem.recipe.index)

['Broccoli (Cooked)',
 'Cooked Celery',
 'Cooked Tomatoes',
 'Cucumber',
 'Dry Roasted Pistachio Nuts',
 'White Button Mushrooms']

In [7]:
problem.food_table.df[problem.food_table.df.index.isin(problem.recipe.index)]

,food_group,calories_kcal,fat_g,protein_g_kg,carbohydrate_g,sugars_g,fiber_g,cholesterol_mg,saturated_fats_g,calcium_mg,...,alcohol_g,caffeine_mg,theobromine_mg,200_calorie_weight_g,phenylalanine_and_tyrosine_mg_kg,methionine_and_cysteine_mg_kg,max,cost,amount_var,amount
name,,,,,,,,,,,,,,,,,,,,,
Broccoli (Cooked),Vegetables,35,0.41,2.38,7.18,1.39,3.3,0.0,0.079,40.0,...,0.0,0.0,0.0,571.429,176.0,74.0,10000,1,Broccoli_(Cooked),0.518573
Cooked Celery,Vegetables,18,0.16,0.83,4.00,2.37,1.6,0.0,0.040,42.0,...,0.0,0.0,0.0,1111.111,35.0,12.0,10000,1,Cooked_Celery,13.191981
Cooked Tomatoes,Vegetables,18,0.11,0.95,4.01,2.49,0.7,0.0,0.015,11.0,...,0.0,0.0,0.0,1111.111,46.0,23.0,10000,1,Cooked_Tomatoes,21.014955
Cucumber,Vegetables,15,0.11,0.65,3.63,1.67,0.5,0.0,0.037,16.0,...,0.0,0.0,0.0,1333.333,30.0,10.0,10000,1,Cucumber,6.096698
Dry Roasted Pistachio Nuts,Nuts and Seeds,572,45.82,21.05,28.28,7.74,10.3,0.0,5.645,107.0,...,0.0,0.0,0.0,34.965,1671.0,680.0,10000,1,Dry_Roasted_Pistachio_Nuts,2.421314
White Button Mushrooms,Vegetables,22,0.34,3.09,3.26,1.98,1.0,0.0,0.050,3.0,...,0.0,0.0,0.0,909.091,129.0,43.0,10000,1,White_Button_Mushrooms,4.076494

In [8]:
problem.nutrient_table['intake_value'] = problem.nutrient_matrix[problem.recipe.index] @ problem.recipe.amount

In [9]:
problem.nutrient_table

,min,max,intake,intake_value
name,,,,
calcium_mg,1000.0,2500.0,"{Almonds: 269.0, Almonds_Unsalted: 260.0, Appl...",1174.827914
calories_kcal,1800.0,2200.0,"{Almonds: 579.0, Almonds_Unsalted: 607.0, Appl...",2200.000034
choline_mg,550.0,3500.0,"{Almonds: 52.1, Almonds_Unsalted: 50.5, Apples...",550.000006
copper_mg,0.9,10.0,"{Almonds: 1.031, Almonds_Unsalted: 1.065999999...",6.759715
fiber_g,38.0,NaN,"{Almonds: 12.5, Almonds_Unsalted: 10.6, Apples...",69.593310
fluoride_mcg,4.0,10.0,"{Apples: 3.3, Bananas: 2.2, Broccoli_(Cooked):...",10.000000
folate_mcg,400.0,1000.0,"{Almonds: 44.0, Almonds_Unsalted: 53.0, Apples...",1000.000014
histidine_mg_kg,14.0,NaN,"{Almonds: 539.0, Apples: 5.0, Baked_Potato_(No...",2142.327436
iron_mg,8.0,45.0,"{Almonds: 3.71, Almonds_Unsalted: 3.62, Apples...",33.681465
isoleucine_mg_kg,19.0,NaN,"{Almonds: 751.0, Apples: 6.0, Baked_Potato_(No...",3678.939105
leucine_mg_kg,42.0,NaN,"{Almonds: 1473.0, Apples: 13.0, Baked_Potato_(...",6131.985784
lysine_mg_kg,38.0,NaN,"{Almonds: 568.0, Apples: 12.0, Baked_Potato_(N...",4814.037326
magnesium_mg,400.0,NaN,"{Almonds: 270.0, Almonds_Unsalted: 271.0, Appl...",738.197184
manganese_mg,2.3,11.0,"{Almonds: 2.1790000000000003, Apples: 0.035, B...",7.388452
methionine_and_cysteine_mg_kg,19.0,NaN,"{Almonds: 372.0, Apples: 2.0, Baked_Potato_(No...",2562.772116
niacin_mg,16.0,35.0,"{Almonds: 3.618, Almonds_Unsalted: 3.528, Appl...",35.000000
pantothenic_acid_mg,5.0,NaN,"{Almonds: 0.471, Apples: 0.061, Baked_Potato_(...",16.135919
phenylalanine_and_tyrosine_mg_kg,33.0,NaN,"{Almonds: 1582.0, Apples: 7.0, Baked_Potato_(N...",6274.461059
phosphorus_mg,700.0,4000.0,"{Almonds: 481.0, Almonds_Unsalted: 457.0, Appl...",2585.458343
potassium_mg,3400.0,NaN,"{Almonds: 733.0, Almonds_Unsalted: 692.0, Appl...",13110.528043
protein_g_kg,0.8,NaN,"{Almonds: 21.15, Almonds_Unsalted: 20.33, Appl...",99.675643
riboflavin_mg,1.3,NaN,"{Almonds: 1.138, Almonds_Unsalted: 1.161, Appl...",3.856082
selenium_mcg,55.0,400.0,"{Almonds: 4.1, Almonds_Unsalted: 1.9, Baked_Po...",88.482726
sodium_mg,1500.0,NaN,"{Almonds: 1.0, Almonds_Unsalted: 3.0, Apples: ...",1500.000031
thiamin_mg,1.2,NaN,"{Almonds: 0.205, Almonds_Unsalted: 0.075, Appl...",3.270244
threonine_mg_kg,20.0,NaN,"{Almonds: 601.0, Apples: 6.0, Baked_Potato_(No...",3214.634927
tryptophan_mg_kg,5.0,NaN,"{Almonds: 211.0, Apples: 1.0, Baked_Potato_(No...",1138.408060
valine_mg_kg,24.0,NaN,"{Almonds: 855.0, Apples: 12.0, Baked_Potato_(N...",5313.991476
vitamin_a_mcg,900.0,3000.0,"{Apples: 3.0, Bananas: 3.0, Broccoli: 31.0, Br...",949.241139
vitamin_b6_mg,1.3,100.0,"{Almonds: 0.1369999999999999, Almonds_Unsalted...",6.282944
vitamin_c_mg,90.0,2000.0,"{Apples: 4.6, Baked_Potato_(No_Skin): 12.8, Ba...",626.162795
vitamin_e_mg,15.0,1000.0,"{Almonds: 25.63, Almonds_Unsalted: 23.54, Appl...",22.615417
vitamin_k_mcg,120.0,NaN,"{Almonds_Unsalted: 3.5, Apples: 2.2, Baked_Pot...",762.616630
zinc_mg,11.0,40.0,"{Almonds: 3.12, Almonds_Unsalted: 3.21, Apples...",14.027321

In [10]:
problem.cost

1*Almonds + 1*Almonds_Unsalted + 1*Apples + 1*Baked_Potato_(No_Skin) + 1*Bananas + 1*Beans_Pinto_Mature_Seeds_Raw + 1*Boiled_Red_Kidney_Beans + 1*Broccoli + 1*Broccoli_(Cooked) + 1*Canola_Oil + 1*Carrots + 1*Cashews_(Raw) + 1*Cashews_Unsalted + 1*Celery + 1*Chia_Seeds + 1*Chickpeas_(Garbanzo_Beans)_(Cooked) + 1*Cooked_Carrots + 1*Cooked_Celery + 1*Cooked_Eggplant + 1*Cooked_Green_Bell_Peppers + 1*Cooked_Green_Peas + 1*Cooked_Oatmeal + 1*Cooked_Onions + 1*Cooked_Red_Kidney_Beans + 1*Cooked_Tomatoes + 1*Cooked_White_Button_Mushrooms + 1*Cooked_Zucchini + 1*Cucumber + 1*Cucumber_Raw + 1*Dates_(Deglet_Noor) + 1*Dried_Figs + 1*Dried_Sunflower_Seeds + 1*Dry_Roasted_Almonds + 1*Dry_Roasted_Pistachio_Nuts + 1*Dry_Roasted_Sunflower_Seeds + 1*Eggplant + 1*Flax_Seeds + 1*Grapes + 1*Green_Bell_Peppers + 1*Hazelnuts + 1*Hemp_Seeds + 1*Kidney_Beans + 1*Lentils_(Cooked) + 1*Medjool_Dates + 1*Onions + 1*Peanut_Butter_(Chunk_Style) + 1*Peas + 1*Pinto_Beans_(Cooked) + 1*Pistachio_Nuts + 1*Pistachio_Nuts_Unsalted + 1*Potatoes_Baked_Skin_Without_Salt + 1*Raw_Peanuts + 1*Red_Or_Green_Grapes_(European) + 1*Rice_Cooked_Nfs + 1*Rice_White_Cooked_Fat_Added_In_Cooking_Made_With_Oil + 1*Seeds_Sesame_Seeds_Whole_Dried + 1*Seeds_Sunflower_Seed_Kernels_Toasted_Without_Salt + 1*Sesame_Oil + 1*Sesame_Seeds_(Toasted) + 1*Sweet_Potato_Fries_From_Fresh_Fried + 1*Tomatoes + 1*Uncooked_Oats + 1*Unsalted_Peanut_Butter_(Smooth) + 1*Walnuts + 1*Watermelon + 1*White_Button_Mushrooms + 1*White_Rice + 1*Zucchini + 0

In [11]:
pl.value(problem.cost)

47.32001572

In [12]:
x = pl.LpVariable('something')

In [13]:
x

something

In [14]:
pl.value(x)