In [1]:
import program

In [2]:
program.test()

/home/stoopkid/Projects/stoopkid/mealsolver/program.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.nutrient_table['intake']   = N @ f

                               amount
name
Broccoli (Cooked)            0.518573
Cooked Celery               13.191981
Cooked Tomatoes             21.014955
Cucumber                     6.096698
Dry Roasted Pistachio Nuts   2.421314
White Button Mushrooms       4.076494