In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("test_nutrient_profiles.csv")
df

,id,food,unit,serving size,Weight,Volume,Calories,Water,Protein,Carbs,...,Chloride,Arsenic,Boron,Silicon,Sulfate,Vanadium,Omega-3,Caffeine,Alcohol,Mercury
0,1,Strawberry & banana blend,cup,1.25,NaN,NaN,80.0,NaN,1.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,chobani oat milk,cup,1.00,NaN,NaN,NaN,NaN,2.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"whole milk, horizon organic, organic grassfed",cup,1.00,NaN,NaN,NaN,NaN,8.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,"eggs, large, grade A, whole, organic, pete & g...",egg,1.00,NaN,NaN,70.0,NaN,6.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,70.0,NaN,NaN,NaN
4,5,martin’s potato bread,slice,1.00,32.0,NaN,90.0,NaN,3.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,"turkey, sliced",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,ritz crackers,cracker,5.00,NaN,NaN,80.0,NaN,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,"peanut butter, creamy, jif",tbsp,2.00,NaN,NaN,190.0,NaN,7.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,wise guys cheese steak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,"banana, Chiquita",banana,1.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,Strawberry & mango blend,cup,1.00,NaN,NaN,70.0,NaN,1.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,"Cran-blackberry juice, ocean spray",cup,1.00,NaN,NaN,100.0,NaN,0.0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,"oatmeal, instant, Quaker, maple & brown sugar",packet,1.00,43.0,NaN,160.0,NaN,4.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,"oatmeal, instant, Quaker, bluberry strawberry",packet,1.00,39.0,NaN,140.0,NaN,4.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,"broccoli, Good & Gather",cup,1.00,85.0,NaN,30.0,NaN,3.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,brussels sprouts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,white rice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,"potatoes, mini red",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,salmon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,"avocado roll, The Orient",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,guacamole,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,lime juice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,lime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,ground turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,"flour tortilla, Mission",tortilla,1.00,49.0,NaN,140.0,NaN,4.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,black beans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,"hummus, Good & Gather, Roasted Artichoke & Spi...",tbsp,2.00,30.0,NaN,80.0,NaN,2.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,"pita crackers, sea salt",cracker,6.00,15.0,NaN,70.0,NaN,1.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,honey nut cheerios,cup,1.00,37.0,NaN,140.0,NaN,3.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,2% milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,32,french toast,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,33,"coffee, nguyen, light roast",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,34,"coffee, nguyen, dark roast",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,35,bran flakes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,36,"pork fried rice, The Orient",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,37,pepsi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,38,"beer, dogfishhead, 60 minute IPA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,39,"tea, mint (brand?)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,40,brownie (brand?),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,41,"olive oil, California Olive Ranch, extra virgi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,42,"chicken breast, thin sliced, Perdue Fresh Cuts",oz,4.00,112.0,NaN,120.0,NaN,25.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,43,"teriyaki chicken, Megan’s recipe",oz,4.00,112.0,NaN,120.0,NaN,25.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,44,"teriyaki sauce, Veri Veri",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,45,salt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,46,garlic powder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,47,onion powder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,48,cumin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,49,smoked paprika,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,50,pepper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,51,chipotle powder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,52,shishito peppers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,53,"blueberry scone, Ashley",scone,1.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,54,"french toast, my recipe",slice,1.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,55,strawberries,cup,1.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,56,"barbacoa quesadilla, chipotle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,57,"steak taco, chipotle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,58,"beer, flying dog",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,59,"ice cream, vanilla, breyer’s",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
melted = pd.melt(df, id_vars=['id','food','unit','serving size'],var_name='nutrient',value_name='amount')
melted

,id,food,unit,serving size,nutrient,amount
0,1,Strawberry & banana blend,cup,1.25,Weight,NaN
1,2,chobani oat milk,cup,1.00,Weight,NaN
2,3,"whole milk, horizon organic, organic grassfed",cup,1.00,Weight,NaN
3,4,"eggs, large, grade A, whole, organic, pete & g...",egg,1.00,Weight,NaN
4,5,martin’s potato bread,slice,1.00,Weight,32.0
...,...,...,...,...,...,...
3653,55,strawberries,cup,1.00,Mercury,NaN
3654,56,"barbacoa quesadilla, chipotle",NaN,NaN,Mercury,NaN
3655,57,"steak taco, chipotle",NaN,NaN,Mercury,NaN
3656,58,"beer, flying dog",NaN,NaN,Mercury,NaN
3657,59,"ice cream, vanilla, breyer’s",NaN,NaN,Mercury,NaN

In [4]:
intake = pd.read_csv('my_intake_requirements.csv')
intake

                   name  internal_id  fdc_id unit    min  upper_limit
0              Calories            1     NaN  NaN    NaN          NaN
1                 Water            2   255.0  NaN    NaN          NaN
2               Protein            3   203.0    g  100.0        200.0
3                 Carbs            4   205.0    g    NaN          NaN
4         Dietary fiber            5     NaN  NaN    NaN          NaN
..                  ...          ...     ...  ...    ...          ...
60              Mercury           61     NaN  NaN    NaN          NaN
61  Omega 3 fatty acids           62     NaN  NaN    NaN          NaN
62  Omega 6 fatty acids           63     NaN  NaN    NaN          NaN
63             Caffeine           64   262.0  NaN    NaN          NaN
64              Alcohol           65   221.0  NaN    NaN          NaN

[65 rows x 6 columns]

In [5]:
nutrients = intake.drop(['fdc_id','unit','min','upper_limit'],axis=1)
nutrients

                   name  internal_id
0              Calories            1
1                 Water            2
2               Protein            3
3                 Carbs            4
4         Dietary fiber            5
..                  ...          ...
60              Mercury           61
61  Omega 3 fatty acids           62
62  Omega 6 fatty acids           63
63             Caffeine           64
64              Alcohol           65

[65 rows x 2 columns]

In [6]:
nutrient_profiles = pd.merge(melted, nutrients, how='left', left_on='nutrient', right_on='name')
nutrient_profiles

,id,food,unit,serving size,nutrient,amount,name,internal_id
0,1,Strawberry & banana blend,cup,1.25,Weight,NaN,NaN,NaN
1,2,chobani oat milk,cup,1.00,Weight,NaN,NaN,NaN
2,3,"whole milk, horizon organic, organic grassfed",cup,1.00,Weight,NaN,NaN,NaN
3,4,"eggs, large, grade A, whole, organic, pete & g...",egg,1.00,Weight,NaN,NaN,NaN
4,5,martin’s potato bread,slice,1.00,Weight,32.0,NaN,NaN
...,...,...,...,...,...,...,...,...
3653,55,strawberries,cup,1.00,Mercury,NaN,Mercury,61.0
3654,56,"barbacoa quesadilla, chipotle",NaN,NaN,Mercury,NaN,Mercury,61.0
3655,57,"steak taco, chipotle",NaN,NaN,Mercury,NaN,Mercury,61.0
3656,58,"beer, flying dog",NaN,NaN,Mercury,NaN,Mercury,61.0
3657,59,"ice cream, vanilla, breyer’s",NaN,NaN,Mercury,NaN,Mercury,61.0

In [7]:
log = pd.read_csv('test_log.csv')
log

,date,meal,food,id,unit,amount,servings
0,08/01/21,breakfast,eggs,4,egg,2.00,2.00
1,08/01/21,breakfast,banana,10,banana,1.00,1.00
2,08/01/21,breakfast,oatmeal,13,packet,1.00,1.00
3,08/01/21,breakfast,honey nut cheerios,30,bowl,1.00,1.00
4,08/01/21,breakfast,whole milk,3,bowl,1.00,1.00
5,08/01/21,breakfast,"coffee, nguyen, light roast",33,mug,1.00,1.00
6,08/01/21,lunch,hummus,28,serving,1.00,1.00
7,08/01/21,lunch,pita chips,29,cracker,12.00,2.00
8,08/01/21,Lunch 2,bran flakes,35,bowl,1.00,1.00
9,08/01/21,Lunch 2,"Milk, 2%",31,bowl,1.00,1.00
10,08/01/21,dinner,"pork fried rice, The Orient",36,container,0.50,0.50
11,08/01/21,dinner,"avocado roll, The Orient",21,roll,1.00,1.00
12,08/01/21,dinner,pepsi,37,can,1.00,1.00
13,08/01/21,dinner,dogfish head 60 minute ipa,38,can,2.00,2.00
14,08/01/21,dinner,tea,39,mug,1.00,1.00
15,08/02/21,breakfast,eggs,4,egg,2.00,2.00
16,08/02/21,breakfast,banana,10,banana,1.00,1.00
17,08/02/21,breakfast,honey nut cheerios,30,bowl,1.00,1.00
18,08/02/21,breakfast,whole milk,3,bowl,1.00,1.00
19,08/02/21,breakfast,brownie,40,piece,1.00,1.00
20,08/02/21,breakfast,"coffee, nguyen, dark roast",34,mug,1.00,1.00
21,08/02/21,lunch,"pork fried rice, The Orient",36,container,0.50,0.50
22,08/02/21,dinner,broccoli,15,cup,2.00,2.00
23,08/02/21,dinner,white rice,17,cup,0.50,1.00
24,08/02/21,dinner,teriyaki chicken,43,oz,4.00,1.00
25,08/02/21,dinner,"coffee, nguyen, dark roast",34,mug,1.00,1.00
26,08/02/21,dessert,"blueberry scone, Ashley",53,scone,1.00,1.00
27,08/02/21,dessert,"coffee, nguyen, dark roast",34,mug,1.00,1.00
28,08/03/21,breakfast,"french toast, home",54,slice,4.00,4.00
29,08/03/21,breakfast,eggs,4,egg,2.00,2.00
30,08/03/21,breakfast,"coffee, nguyen, dark roast",34,mug,1.00,1.00
31,08/03/21,lunch,Strawberries (in smoothie),55,cup,1.00,1.00
32,08/03/21,lunch,banana (in smoothie),10,banana,1.00,1.00
33,08/03/21,lunch,honey nut cheerios,30,bowl,1.00,1.00
34,08/03/21,lunch,whole milk,3,bowl,1.00,1.00
35,08/03/21,dinner,"barbacoa quesadilla, chipotle",56,quesadilla,0.25,0.25
36,08/03/21,dinner,"steak taco, chipotle",57,taco,1.00,1.00
37,08/03/21,dinner,"beer, dogfishead 60 minute ipa",38,can,1.00,1.00
38,08/03/21,dinner,"beer, flying dog",58,bottle,1.00,1.00
39,08/03/21,dessert,"brownie, neighbor",40,piece,1.00,1.00
40,08/03/21,dessert,"ice cream, vanilla, breyer’s",59,scoop,1.00,1.00
41,08/04/21,breakfast,honey nut cheerios,30,bowl,1.00,1.00
42,08/04/21,breakfast,whole milk,3,bowl,1.00,1.00
43,08/04/21,breakfast,"coffee, nguyen, dark roast",34,mug,1.00,1.00

In [8]:
log_nutrients = pd.merge(log, nutrient_profiles, how='left', left_on='id', right_on='id').fillna(0)
log_nutrients

,date,meal,food_x,id,unit_x,amount_x,servings,food_y,unit_y,serving size,nutrient,amount_y,name,internal_id
0,08/01/21,breakfast,eggs,4,egg,2.0,2.0,"eggs, large, grade A, whole, organic, pete & g...",egg,1.0,Weight,0,0,0.0
1,08/01/21,breakfast,eggs,4,egg,2.0,2.0,"eggs, large, grade A, whole, organic, pete & g...",egg,1.0,Volume,0,0,0.0
2,08/01/21,breakfast,eggs,4,egg,2.0,2.0,"eggs, large, grade A, whole, organic, pete & g...",egg,1.0,Calories,70.0,Calories,1.0
3,08/01/21,breakfast,eggs,4,egg,2.0,2.0,"eggs, large, grade A, whole, organic, pete & g...",egg,1.0,Water,0,Water,2.0
4,08/01/21,breakfast,eggs,4,egg,2.0,2.0,"eggs, large, grade A, whole, organic, pete & g...",egg,1.0,Protein,6.0,Protein,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2723,08/04/21,breakfast,"coffee, nguyen, dark roast",34,mug,1.0,1.0,"coffee, nguyen, dark roast",0,0.0,Vanadium,0,Vanadium,60.0
2724,08/04/21,breakfast,"coffee, nguyen, dark roast",34,mug,1.0,1.0,"coffee, nguyen, dark roast",0,0.0,Omega-3,0,0,0.0
2725,08/04/21,breakfast,"coffee, nguyen, dark roast",34,mug,1.0,1.0,"coffee, nguyen, dark roast",0,0.0,Caffeine,0,Caffeine,64.0
2726,08/04/21,breakfast,"coffee, nguyen, dark roast",34,mug,1.0,1.0,"coffee, nguyen, dark roast",0,0.0,Alcohol,0,Alcohol,65.0
2727,08/04/21,breakfast,"coffee, nguyen, dark roast",34,mug,1.0,1.0,"coffee, nguyen, dark roast",0,0.0,Mercury,0,Mercury,61.0

In [9]:
log_nutrients['amount_y'] = pd.to_numeric(log_nutrients['amount_y'],errors='coerce')

In [10]:
log_nutrients['nutrient_total'] = log_nutrients['servings']*log_nutrients['amount_y']
log_nutrients

,date,meal,food_x,id,unit_x,amount_x,servings,food_y,unit_y,serving size,nutrient,amount_y,name,internal_id,nutrient_total
0,08/01/21,breakfast,eggs,4,egg,2.0,2.0,"eggs, large, grade A, whole, organic, pete & g...",egg,1.0,Weight,0.0,0,0.0,0.0
1,08/01/21,breakfast,eggs,4,egg,2.0,2.0,"eggs, large, grade A, whole, organic, pete & g...",egg,1.0,Volume,0.0,0,0.0,0.0
2,08/01/21,breakfast,eggs,4,egg,2.0,2.0,"eggs, large, grade A, whole, organic, pete & g...",egg,1.0,Calories,70.0,Calories,1.0,140.0
3,08/01/21,breakfast,eggs,4,egg,2.0,2.0,"eggs, large, grade A, whole, organic, pete & g...",egg,1.0,Water,0.0,Water,2.0,0.0
4,08/01/21,breakfast,eggs,4,egg,2.0,2.0,"eggs, large, grade A, whole, organic, pete & g...",egg,1.0,Protein,6.0,Protein,3.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2723,08/04/21,breakfast,"coffee, nguyen, dark roast",34,mug,1.0,1.0,"coffee, nguyen, dark roast",0,0.0,Vanadium,0.0,Vanadium,60.0,0.0
2724,08/04/21,breakfast,"coffee, nguyen, dark roast",34,mug,1.0,1.0,"coffee, nguyen, dark roast",0,0.0,Omega-3,0.0,0,0.0,0.0
2725,08/04/21,breakfast,"coffee, nguyen, dark roast",34,mug,1.0,1.0,"coffee, nguyen, dark roast",0,0.0,Caffeine,0.0,Caffeine,64.0,0.0
2726,08/04/21,breakfast,"coffee, nguyen, dark roast",34,mug,1.0,1.0,"coffee, nguyen, dark roast",0,0.0,Alcohol,0.0,Alcohol,65.0,0.0
2727,08/04/21,breakfast,"coffee, nguyen, dark roast",34,mug,1.0,1.0,"coffee, nguyen, dark roast",0,0.0,Mercury,0.0,Mercury,61.0,0.0

In [11]:
something = log_nutrients.groupby(['date','internal_id']).sum()
something.reset_index(inplace=True)
something

,date,internal_id,id,amount_x,servings,serving size,amount_y,nutrient_total
0,08/01/21,0.0,3096,220.0,140.0,104.0,311.5,404.0
1,08/01/21,1.0,387,27.5,17.5,13.0,520.0,660.0
2,08/01/21,2.0,387,27.5,17.5,13.0,0.0,0.0
3,08/01/21,3.0,387,27.5,17.5,13.0,24.0,31.0
4,08/01/21,4.0,387,27.5,17.5,13.0,92.0,103.0
...,...,...,...,...,...,...,...,...
215,08/04/21,59.0,67,3.0,3.0,2.0,0.0,0.0
216,08/04/21,60.0,67,3.0,3.0,2.0,0.0,0.0
217,08/04/21,61.0,67,3.0,3.0,2.0,0.0,0.0
218,08/04/21,64.0,67,3.0,3.0,2.0,0.0,0.0
219,08/04/21,65.0,67,3.0,3.0,2.0,0.0,0.0

In [12]:
something_else = something[['date','internal_id','nutrient_total']]
something_else

         date  internal_id  nutrient_total
0    08/01/21          0.0           404.0
1    08/01/21          1.0           660.0
2    08/01/21          2.0             0.0
3    08/01/21          3.0            31.0
4    08/01/21          4.0           103.0
..        ...          ...             ...
215  08/04/21         59.0             0.0
216  08/04/21         60.0             0.0
217  08/04/21         61.0             0.0
218  08/04/21         64.0             0.0
219  08/04/21         65.0             0.0

[220 rows x 3 columns]

In [13]:
daily_totals = pd.merge(something_else, nutrients, how='left', left_on='internal_id', right_on='internal_id')[['date','nutrient_total','name']]
daily_totals['name'] = daily_totals['name'].fillna('to_drop')
daily_totals

         date  nutrient_total      name
0    08/01/21           404.0   to_drop
1    08/01/21           660.0  Calories
2    08/01/21             0.0     Water
3    08/01/21            31.0   Protein
4    08/01/21           103.0     Carbs
..        ...             ...       ...
215  08/04/21             0.0   Sulfate
216  08/04/21             0.0  Vanadium
217  08/04/21             0.0   Mercury
218  08/04/21             0.0  Caffeine
219  08/04/21             0.0   Alcohol

[220 rows x 3 columns]

In [14]:
daily_totals2 = daily_totals.pivot(index='date',columns='name')['nutrient_total'].reset_index().drop('to_drop',axis=1)
daily_totals2.columns.name = None
pd.set_option('display.max_columns', None)
daily_totals2

,date,Added sugars,Alcohol,Arsenic,Biotin,Boron,Caffeine,Calcium,Calories,Carbs,Carotenoids,Chloride,Cholesterol,Choline,Chromium,Copper,Dietary fiber,Fluoride,Folate,Folic Acid,Insoluble fiber,Iodine,Iron,Magnesium,Manganese,Mercury,Methylated folate,Molybdenum,Monounsaturated fat,Niacin,Nickel,Pantothenic acid,Phosphorus,Polyunsaturated fat,Potassium,Protein,Riboflavin,Saturated fat,Selenium,Silicon,Sodium,Soluble fiber,Sulfate,Thiamin,Total sugars,Trans fat,Vanadium,Vitamin B12,Vitamin B6,Vitamin C,Vitamin D,Vitamin E,Vitamin K,Water,Zinc
0,08/01/21,24.0,0.0,0.0,0.0,0.0,0.0,540.0,660.0,103.0,0.0,0.0,405.0,0.0,0.0,0.0,7.0,0.0,0.0,45.0,0.0,0.0,7.5,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,250.0,3.0,870.0,31.0,0.5,9.0,0.0,0.0,1030.0,1.0,0.0,0.0,37.0,0.0,0.0,1.3,0.0,0.0,6.5,0.0,0.0,0.0,0.0
1,08/02/21,12.0,0.0,0.0,0.0,0.0,0.0,602.0,460.0,51.0,0.0,0.0,485.0,0.0,0.0,0.0,7.0,0.0,0.0,45.0,0.0,0.0,17.4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,250.0,0.5,1272.0,54.0,0.5,8.0,0.0,0.0,475.0,0.0,0.0,0.0,26.0,0.0,0.0,1.3,0.0,0.0,6.5,0.0,0.0,0.0,0.0
2,08/03/21,12.0,0.0,0.0,0.0,0.0,0.0,520.0,280.0,43.0,0.0,0.0,405.0,0.0,0.0,0.0,3.0,0.0,0.0,45.0,0.0,0.0,5.4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,250.0,0.5,720.0,23.0,0.5,8.0,0.0,0.0,350.0,0.0,0.0,0.0,24.0,0.0,0.0,1.3,0.0,0.0,6.5,0.0,0.0,0.0,0.0
3,08/04/21,12.0,0.0,0.0,0.0,0.0,0.0,460.0,140.0,43.0,0.0,0.0,35.0,0.0,0.0,0.0,3.0,0.0,0.0,45.0,0.0,0.0,3.6,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,250.0,0.5,580.0,11.0,0.5,5.0,0.0,0.0,210.0,0.0,0.0,0.0,24.0,0.0,0.0,1.3,0.0,0.0,4.5,0.0,0.0,0.0,0.0

In [15]:
new_intake = intake.sort_values('name').set_index('name').T
new_intake.columns.name = None
new_intake

,Added sugars,Alcohol,Arsenic,Biotin,Boron,Caffeine,Calcium,Calories,Carbs,Carotenoids,Chloride,Cholesterol,Choline,Chromium,Copper,"DFE, Dietary folate equivalents",Dietary fiber,Fat,Fluoride,Folate,Folic Acid,Insoluble fiber,Iodine,Iron,Magnesium,Magnesium (from pharmocological agents),Manganese,Mercury,Methylated folate,Molybdenum,Monounsaturated fat,Niacin,Nickel,Omega 3 fatty acids,Omega 6 fatty acids,Pantothenic acid,Phosphorus,Polyunsaturated fat,Potassium,Protein,Riboflavin,Saturated fat,Selenium,Silicon,Sodium,Soluble fiber,Sulfate,Thiamin,Total sugars,Trans fat,Vanadium,"Vitamin A, IU","Vitamin A, RAE",Vitamin B12,Vitamin B6,Vitamin C,Vitamin D,Vitamin D2,Vitamin D3,Vitamin E,Vitamin K,Vitamin K1 (phylloquinone),"Vitamin K2, MK-4 (menaquinone-4)",Water,Zinc
internal_id,9,65,56,36,57,64,39,1,4,38,55,15,37,40,41,30,5,10,42,31,32,7,43,44,45,46,47,61,33,48,14,26,49,62,63,35,50,13,51,3,27,11,52,58,54,6,59,28,8,12,60,16,17,34,29,18,19,20,21,22,23,24,25,2,53
fdc_id,NaN,221.0,NaN,NaN,NaN,262.0,301.0,NaN,205.0,NaN,NaN,601.0,421.0,NaN,312.0,435.0,NaN,204.0,313.0,417.0,431.0,NaN,NaN,303.0,304.0,NaN,315.0,NaN,NaN,NaN,645.0,406.0,NaN,NaN,NaN,410.0,305.0,646.0,306.0,203.0,405.0,606.0,317.0,NaN,307.0,NaN,NaN,404.0,NaN,605.0,NaN,318.0,320.0,418.0,415.0,401.0,324.0,325.0,326.0,323.0,NaN,430.0,428.0,255.0,309.0
unit,NaN,NaN,NaN,ug,mg,NaN,mg,NaN,g,NaN,g,NaN,mg,ug,ug,NaN,NaN,g,mg,ug,NaN,NaN,mg,mg,mg,mg,mg,NaN,NaN,ug,NaN,mg,mg,NaN,NaN,mg,mg,NaN,mg,g,mg,NaN,ug,NaN,mg,NaN,NaN,mg,NaN,NaN,mg,ug,NaN,ug,mg,mg,ug,NaN,NaN,mg,ug,NaN,NaN,NaN,mg
min,NaN,NaN,NaN,30.0,NaN,NaN,1000.0,NaN,NaN,NaN,2.3,NaN,550.0,35.0,900.0,NaN,NaN,NaN,4.0,400.0,NaN,NaN,8.0,NaN,420.0,NaN,2.3,NaN,NaN,45.0,NaN,16.0,NaN,NaN,NaN,5.0,700.0,NaN,3400.0,100.0,1.3,NaN,55.0,NaN,1500.0,NaN,NaN,1.2,NaN,NaN,NaN,900.0,NaN,2.4,1.3,NaN,15.0,NaN,NaN,15.0,120.0,NaN,NaN,NaN,11.0
upper_limit,NaN,NaN,NaN,NaN,20.0,NaN,2500.0,NaN,NaN,NaN,3.6,NaN,3500.0,NaN,10000.0,NaN,NaN,NaN,10.0,1000.0,NaN,NaN,1100.0,45.0,NaN,350.0,11.0,NaN,NaN,2000.0,NaN,35.0,1.0,NaN,NaN,NaN,4000.0,NaN,NaN,200.0,NaN,NaN,400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8,3000.0,NaN,NaN,100.0,2000.0,100.0,NaN,NaN,1000.0,NaN,NaN,NaN,NaN,NaN